@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  background: rgb(255, 255, 255);
}
    /**************** Top area ***********************/
.top-wrapper {
display: flex;
flex-direction: row;
margin-right: 80px;

#lives {
    background: url("../images/heart.png") no-repeat center;
    position: fixed;
    right: 50px;
    z-index: 3;
    display: none;

  p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 34px;
    height: 34px;
    padding-top: 8px;

  }
}

.instructions {
  margin-left: 10px;
  border: none;
  background: rgba(255,255,255,1);
  font-size: 16px;
  padding-top: 7px;
  cursor: pointer;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.7);
  transition: box-shadow 0.1s;

  &:hover {
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.7);
  }
}

  #instructions-img {
    width: 18px;
    height: auto;
    //position: absolute;
    //top: 3px;
    //margin-left: 36px;
  }

.hidden-dropdown {
  font-size: 20px;
  display: none;
  position: absolute;
  top: 40px;
  background: white;
  max-width: 600px;
  max-height: 400px;
  z-index: 2;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  border: none;
  color: rgba(0,0,0,0.8);
  box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.7);
  margin: 0 10px;
  line-height: 1.5rem;

  h2 {
    margin-bottom: 10px;
  }
}

.audio-btn {
    right: 6px;
    top: 1px;
    border: none;
    position: fixed;
    background: rgba(255,255,255,0);
    z-index: 3;
    cursor: pointer;

    audio {
        position: absolute;
    }
        img {
            width: 34px;
            opacity: 1;
        }
}
}

/*************** Wrapper for Start game header and Main ***************/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************** Start game header ************/
header {
    display: flex;
    flex-direction: column;
  
img {
  width: 100%;
  max-width: 350px;
  margin-bottom: 10px;
  margin-top: 4px;
}

#startGameBtn {
  align-self: center;
  padding: 0px 20px 0px 20px;
  margin-bottom: 8px;
  font-size: 64px;
  font-family: 'Tangerine', sans-serif;
  background: rgba(255,255,255,0);
  border: hidden;
  cursor: pointer;
  min-height: 80px;
  transition: box-shadow 0.1s;
  box-shadow: 0px 6px 0px -4px rgba(0,0,0,0.7);

  &:hover {
    box-shadow: 0px 9px 0px -4px rgba(0,0,0,0.7);
  }
}
}

/************** Main ***************/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4px;
}

/* Centerpiece image */
.circle {
  border-radius: 50%;
  position: relative;

  .img-overlay {
    position: absolute;
    top: 0;
  }

  img {
    border-radius: 50%;
    display: block;
    border: 1px solid white;
    width: 100%;
    height: auto;
  }

  &:after {
    content: "";
    display: block;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 10%, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 1));
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -2px;
    bottom: -2px;
  }
}

/* Display message from game */
#message {
  font-size: 1.3rem;
  color: black;
  padding: 6px 2px 6px 2px;
  margin-top: 2px;
  background: rgb(234, 234, 234);
}

/* Gameboard */
#gameBoard {
  padding: 10px 0;

  /* Common li for Letter buttons and Letter boxes */
li {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  .keyboard-btn {
    background: white;
    color: black;
    font-size: 18px;
    padding: 8px 4px;
    margin: 4px 2px;
    min-width: 30px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.7);
    border-radius: 4px;

    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.7);
    }

    &.keyboard-btn:disabled {
      background: grey;
        box-shadow: none;
    }
  }
}
}

/* Where correctly guessed letters appear */
#letterBoxes {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

  /* Specific li for Letter boxes */
  li {
    margin-right: 5px;

    input {
      border: 1px solid #666;
      border-radius: 8px;
      color: white;
      background: rgba(128, 128, 128, 0.7);
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 10px;
      padding: 16px 5px;
      text-align: center;
      width: 40px;
    }
  }
}
}


 /********** Footer ************/
footer {
  //position: absolute;
  bottom: 0;
  width: 100%;
  background: grey;

  p {
    color: white;
    padding: 10px;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}