@import url("https://fonts.googleapis.com/css?family=Tangerine&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  background: white;
}

/**************** Top area ***********************/
.top-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10px;
  margin-right: 80px;
}

.top-wrapper #lives {
  background: url("../images/heart.png") no-repeat center;
  position: fixed;
  right: 50px;
  z-index: 3;
  display: none;
}

.top-wrapper #lives p {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 34px;
  height: 34px;
  padding-top: 8px;
}

.top-wrapper .instructions {
  border: none;
  background: white;
  font-size: 16px;
  padding-top: 7px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.7);
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
}

.top-wrapper .instructions:hover {
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.7);
}

.top-wrapper #instructions-img {
  width: 28px;
  height: auto;
  position: absolute;
  top: 3px;
  margin-left: 36px;
}

.top-wrapper .hidden-dropdown {
  font-size: 20px;
  display: none;
  position: absolute;
  top: 40px;
  background: white;
  max-width: 600px;
  max-height: 400px;
  z-index: 2;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.7);
}

.top-wrapper .audio-btn {
  right: 6px;
  top: 1px;
  border: none;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  z-index: 3;
  cursor: pointer;
}

.top-wrapper .audio-btn audio {
  position: absolute;
}

.top-wrapper .audio-btn img {
  width: 34px;
  opacity: 1;
}

/*************** Wrapper for Start game header and Main ***************/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/************** Start game header ************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header img {
  width: 100%;
  max-width: 350px;
  margin-bottom: 10px;
  margin-top: 4px;
}

header #startGameBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 20px 0px 20px;
  margin-bottom: 8px;
  font-size: 64px;
  font-family: 'Tangerine', cursive;
  background: rgba(255, 255, 255, 0);
  border: hidden;
  cursor: pointer;
  min-height: 80px;
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
  -webkit-box-shadow: 0px 6px 0px -4px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 6px 0px -4px rgba(0, 0, 0, 0.7);
}

header #startGameBtn:hover {
  -webkit-box-shadow: 0px 9px 0px -4px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 9px 0px -4px rgba(0, 0, 0, 0.7);
}

/************** Main ***************/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4px;
}

/* Centerpiece image */
.circle {
  border-radius: 50%;
  position: relative;
}

.circle .img-overlay {
  position: absolute;
  top: 0;
}

.circle img {
  border-radius: 50%;
  display: block;
  border: 1px solid white;
  width: 100%;
  height: auto;
  max-width: 600px;
}

.circle:after {
  content: "";
  display: block;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 10%, white 70%, white);
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -2px;
  bottom: -2px;
}

/* Display message from game */
#message {
  font-size: 1.3rem;
  padding: 6px 0px;
}

/* Gameboard */
#gameBoard {
  padding: 10px 0;
  /* Common li for Letter buttons and Letter boxes */
  /* Where correctly guessed letters appear */
}

#gameBoard li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gameBoard li .keyboard-btn {
  background: white;
  color: black;
  font-size: 18px;
  padding: 4px;
  margin: 4px 2px;
  min-width: 30px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

#gameBoard li .keyboard-btn:hover {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
}

#gameBoard li .keyboard-btn.keyboard-btn:disabled {
  background: grey;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#gameBoard #letterBoxes {
  /* Specific li for Letter boxes */
}

#gameBoard #letterBoxes li {
  margin-left: 5px;
}

#gameBoard #letterBoxes li input {
  border: 1px solid #666;
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  margin-top: 1em;
  padding: 20px 5px;
  text-align: center;
  width: 2em;
}

/********** Footer ************/
footer {
  bottom: 0;
  width: 100%;
  background: grey;
}

footer p {
  color: white;
  padding: 10px;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */